<div class="card large">
  <div class="card-image">
   <img src="/images/pizza.jpg" alt="" class="circle">
    <span class="card-title"><%= @pizza.name %></span>
  </div>
  <div class="card-content">
    <p>$<%= @pizza.price_cents * 0.01 %></p>
    <p><%= @pizza.diameter_inches %> inch</p>
    <p>Toppings:
    <ul>
 <% @pizza.toppings.each do |topping| %>
   <li><a href="/pizzas/<%= @pizza.id %>/toppings/<%= topping.id %>"><%= topping.name %></a></li>
   </p>
 <% end %>
</ul>

  </div>
  <div class="card-action">
    <a href="/pizzas/<%= @pizza.id %>/toppings/new">Add Topping</a>
    <a href="/pizzas/<%= @pizza.id %>/edit">Edit</a>
    <a class="post_link" data-form-id="#post_form" data-confirm="Are you sure?" href="/pizzas/<%= @pizza.id %>/delete">Delete</a>
   </div>
</div>



<%# Hidden form for Delete Post via link %>
<form id="post_form" class="hide" action="" method="post"></form>

