
  <div><h1><%= @pizza.name %></h1>
     <div>
      $<%= @pizza.price_cents * 0.01 %>
     </div>
     <div>
      <%= @pizza.diameter_inches %> inch
     </div>
  </div>

  <div>
  <a href="/pizzas/<%= @pizza.id %>/edit">Edit Pizza</a>
  | <form action="/pizzas/<%= @pizza.id %>/delete" method="post">
    <input type="submit" value="Delete Pizza"/>
  </form>

  
  </div>