<h1>Pizza <a href="/pizzas/<%= @pizza.id %>"><%= @pizza.name %></a></h1>

<div><h1>Topping <%= @topping.name %></h1>
   <div>
    <%= @topping.calories %> cals
   </div>
</div>

<div>
<a href="/pizzas/<%= @pizza.id %>/toppings/<%= @topping.id %>/edit">Edit Topping</a>
| <form action="/pizzas/<%= @pizza.id %>/toppings/<%= @topping.id %>/delete" method="post">
  <input type="submit" value="Delete Topping"/>
</form>


</div>